.banner{
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url('../img/main.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
}

.banner p{
    width: 50%;
    text-align: justify;
}

.movies-detail{
    padding: 90px;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url('../img/main.jpg');
}
.all-movies, .top-movies, .movie-detail{
    padding: 50px;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url('../img/main.jpg');
}

.cont{
    padding: 50px;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url('../img/main.jpg');
    background-position: center;
    background-size:auto;
    background-attachment:fixed;
    display: flex;
    align-items: center;
}


.container {
  display: fixed;
}

.feedback {
    font-size: 40px;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.feedback1 {
    font-size: 17px;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
}
.socials {
    text-align: center;
}

.socials a {
    font-size: 35px;
    color: white;
    margin-right: 10px;
}

@media screen and (max-width: 400px) {
    .title{
        font-size: 30px;
    }
}

.white{
color: white;
}

.name{
text-shadow: black 0 0 20px;}


